<%= form_with url: path, method: method, local: true do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, value: name_value %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.number_field :percentage, value: percentage_value %>
  </div>

  <div class="field">
    <%= form.label :threshold %>
    <%= form.number_field :threshold, value: threshold_value %>
  </div>

  <div class="actions">
    <%= form.submit button_text, class: 'btn btn-outline-success'%>
  </div>
<% end %>
