<%= form_with url: path, method: method, local: true do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'Discount name' %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.number_field :percentage %>
  </div>

  <div class="field">
    <%= form.label :threshold %>
    <%= form.number_field :threshold %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>
<% end %>
