<h1>Bulk Discounts</h1>

<table class="table table-striped table-hover">
  <thead class="table-light">
    <tr>
      <th>Discount Name</th>
      <th>Percentage Off</th>
      <th>Quantity Threshold</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bulk_discounts.each do |bulk_discount| %>
      <tr id="bulk_discount-<%= bulk_discount.id %>">
        <td><%= bulk_discount.name %></td>
        <td><%= bulk_discount.percentage %>%</td>
        <td><%= bulk_discount.threshold %> items</td>
        <td><%= link_to 'View Details', merchant_bulk_discount_path(@merchant, bulk_discount), class: 'btn btn-outline-secondary' %></td>
        <td><%= link_to 'Remove', merchant_bulk_discount_path(@merchant, bulk_discount), method: :delete, class: 'btn btn-outline-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<section id='holidays'>
  <h2>Upcoming Holidays</h2>
  <% @holidays.each do |holiday| %>
    <div>
      <h4><%= holiday.holiday_name %></h4>
      <p> <%= holiday.holiday_date %></p>
    </div><br/>
  <% end %>
</section>

<%= link_to 'Create New Discount', new_merchant_bulk_discount_path(@merchant), class: 'btn btn-outline-success' %>
