<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bulk_discount.name %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @bulk_discount.percentage %>
</p>

<p>
  <strong>Threshold:</strong>
  <%= @bulk_discount.threshold %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @bulk_discount.merchant %>
</p>
<%#
<%= link_to 'Edit', edit_bulk_discount_path(@bulk_discount) %> |
<%# <%= link_to 'Back', bulk_discounts_path %> %> %>
