<h1><%= @merchant.name %></h1>

<p><%= link_to "My Items", merchant_items_path(@merchant) %></p>
<p><%= link_to "My Invoices", merchant_invoices_path(@merchant) %></p>

<h3>Favorite Customers</h3>
<% @favorite_customers.each do |customer| %>
  <p> <%= customer.first_name %> <%= customer.last_name %>:
    <%= customer.successful_transactions %> purchases </p>
<% end %>
