<h1>Admin Invoice Show</h1>
<hr>

<h2>ID #: <%= @invoice.id %></h2>
<h3>Status: <%= @invoice.status %><h3>
<h3>Created at: <%= @invoice.created_at.strftime(" %A, %B %e, %Y") %><h3>
<h3>Customer Name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %><h3>

<br><hr>

<h2>Items on this Invoice</h2>
<% @invoice.invoice_items.each do |inv_item| %>
  <p>Name: <%= inv_item.item.name %></p>
  <p>Quantity: <%= inv_item.quantity %></p>
  <p>Price: $<%= inv_item.unit_price / 100 %></p>
  <p>Item Status: <%= inv_item.status %></p>
<% end %>

<br><hr>
