<h2>Enabled Merchants</h2>
<section id="enabled">
  <% @merchants.enabled.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>">
      <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
      <%= button_to 'Disable', admin_merchant_path(merchant), params: {status: 'disabled'}, method: :patch%>
    </div>
  <% end %>
</section>

<h2>Disabled Merchants</h2>
<section id="disabled">
  <% @merchants.disabled.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>">
      <%= link_to "#{merchant.name}", admin_merchant_path(merchant) %>
      <%= button_to 'Enable', admin_merchant_path(merchant), params: {status: 'enabled'}, method: :patch%>
    </div>
  <% end %>
</section>
