<%= render 'dashboard/merch_nav' %>

<h3>My Items</h3>

<%= link_to 'New Item', new_merchant_item_path(@merchant) %>
<article>
  <h3>Enabled Items</h3>
  <div class="enabled">
    <% @merchant.items_enabled.each do |item| %>
      <section id="item-<%= item.id %>">
        <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
        <%= button_to 'Disable', merchant_item_path(@merchant, item), params: { status: 'disabled'}, method: :patch %>
      </section>
    <% end %>
  </div>


  <h3>Disabled Items</h3>
  <div class="disabled">
    <% @merchant.items_disabled.each do |item| %>
      <section id="item-<%= item.id %>">
        <%= link_to "#{item.name}", merchant_item_path(@merchant, item) %>
        <%= button_to 'Enable', merchant_item_path(@merchant, item), params: { status: 'enabled'}, method: :patch %>
      </section>
    <% end %>
  </div>
</article>

<aside class="top-items">
  <h3>Top Items</h3>
  <ol>
    <% @merchant.most_popular_items.each do |item| %>
      <li>
      <%= item.name %> - <%= number_to_currency(item.revenue) %> in sales <br>
      Top day for <%= item.name %> was <%= @merchant.items_top_day_revenue(item.id).strftime('%m/%d/%y') %>
      </li>
    <% end %>
  </ol>
</aside>
