<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>Little Esty Shop</header>
    <%= @repo.name %>

    <h2>Contributors</h2>
    <% @repo_contributors.contributors.each do |contributor, contribution| %>
      <%= contributor %> Commits: <%= contribution %> Pulls: <%= @repo_pulls.pull_requests[contributor] %><br>
    <% end %>
    <h4>Total Pull Requests: <%= @repo_pulls.pull_requests.values.sum %></h4>
    <%= yield %>
  </body>
</html>
